*{
    margin: 0;
    padding: 0;
}
.select{
    width: 50%;
}
.cont{
display: flex;
flex-direction: column;
width: 40%;
}
.param{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}